@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}
h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}
@layer components {
  .radial-bg {
    background: #e5f1fe;
    background: radial-gradient(
      circle,
      rgba(229, 241, 254, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .btn {
    @apply px-4 py-3
      sm:px-6 sm:py-3
      text-sm sm:text-base
      border
      cursor-pointer
      flex
      rounded-full
      items-center
      justify-center
      gap-2
      transition-all
      w-full sm:w-auto;
  }
  .primaryBtn {
    @apply bg-blue-600 text-white hover:bg-blue-700 active:bg-blue-800 shadow-md hover:shadow-lg border-3 border-[#0056ff];
  }

  .secondaryBtn {
    @apply bg-white text-black hover:bg-gray-200 active:bg-gray-300 border-3 border-black;
  }
  .tertiaryBtn {
    @apply bg-white text-[#0056ff] border-3 border-[#0056ff] hover:bg-gray-200 active:bg-[#004eea];
  }
}
